.header-container{
  padding: 15px;
  box-sizing: border-box;
  h2 {
    line-height: 1;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 15px;
  box-sizing: border-box;
  mat-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }
}

.product-item {
  width: 200px;
  overflow: hidden;
  .product-image-container {
    position: relative;
  }
  
  .sold-out {
    position: relative;
    opacity: 0.6;
  }
  
  .sold-out-text {
    position: absolute;
    top: 25px;
    right: -50px;
    background-color: rgb(189 189 189 / 70%);
    color: rgb(61 61 61);
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(45deg);
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  padding: 8px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.product-description {
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .product-item {
    width: calc(50% - 8px);
  }
  
}