.image-360-container {
  padding: 15px;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  .img-container{
    display: flex;
    width: 100%;
    height: calc(100% - 55px);
    overflow: hidden;
    ::ng-deep pinch-zoom{
      height: 100%;
      .pinch-zoom-content{
        height: 100%;
      }
    }
    .img-specific {
      width: auto;
      height: 100%;
      display: block;
    }
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 15px;
    .icon-end{
      display: flex;
      flex-direction: row-reverse;
      mat-icon{
        margin-left: var(--mat-text-button-icon-spacing, 8px);
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .image-360-container {
    img {
      width: 100% !important;
      height: fit-content !important;
    }
  }
  
}