
@if (isSkeletonLoading) {
  <app-skeleton-loading></app-skeleton-loading>
}@else {
  <div class="image-360-container">
    @if (currentImage) {
    <div class="img-container">
      <pinch-zoom [disableZoomControl]="'disable'" [limit-zoom]="5" [limitPan]="true">
        <img [src]="currentImage">
      </pinch-zoom>
      <div *ngIf="isSoldOut" class="sold-out-text">Đã bán</div>
    </div>
    }
    <div class="button-container">
      <button mat-raised-button (mousedown)="startRotate('left')" (mouseup)="stopRotate($event)"
        (mouseleave)="stopRotate($event)" (touchstart)="startRotate('left')" (touchend)="stopRotate($event)">
        Xoay trái
        <mat-icon svgIcon="arrow-curve-up-left"></mat-icon>
      </button>
      <button mat-raised-button (mousedown)="startRotate('right')" (mouseup)="stopRotate($event)"
        (mouseleave)="stopRotate($event)" (touchstart)="startRotate('right')" (touchend)="stopRotate($event)"
        class="icon-end">
        Xoay phải
        <mat-icon svgIcon="arrow-curve-up-right"></mat-icon>
      </button>
    </div>
  </div>
}